<h1 class="display-4">Get Whatever You Want!</h1>
<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <img src="https://images-na.ssl-images-amazon.com/images/I/41f6Rd6ZEPL._SX363_BO1,204,203,200_.jpg" alt="" height="50%">
            <div class="card-body">
                <h4 align="center" class="card-title">Core Java</h4>
                <div class="text-left">
                    <p class="card-text"><strong>Description: </strong>Books for learning Java</p>
                    <p class="card-text"><strong>Price: </strong>$30.00</p>
                    <p class="card-text"><strong>Stock: </strong>94</p>
                </div>
            </div>
            <div class="card-footer">
                <a href="" class="btn btn-primary btn-lg">Get it</a>
            </div>
        </div>
    </div>
</div>