<h1 class="display-4 text-center">Sign In</h1>
<form class="ml-auto mr-auto " style="width: 40%;">
    <div class="form-group">
        <label>Email address</label>
        <input type="email" class="form-control form-control-lg" name="email" placeholder="Enter email">
        <p class="alert alert-danger">Email is required</p>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control form-control-lg" name="password" placeholder="Password">
    </div>
    <div class="form-group form-check">
        <input class="form-check-input" name="remember" type="checkbox">
        <label class="form-check-label">Remember me</label>
        <a href="#" class="float-right">Sign Up</a>
    </div>
    <button class="btn btn-lg btn-primary" type="submit" style="width: 100%;">Sign In</button>
</form>
