<h1 class="display-4 text-center mb-4 mt-2">Product Detail</h1>
<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="card text-center">
            <img src="https://images-na.ssl-images-amazon.com/images/I/41f6Rd6ZEPL._SX363_BO1,204,203,200_.jpg" alt="" height="60%">
            <div class="card-body">
                <h4 class="card-title">Core Java</h4>
                <form>
                    <div class="text-left">
                        <p><strong>Description: </strong>Books for learning Java</p>
                        <p><strong>Price: </strong>30.00</p>
                        <p><strong>Stock: </strong>96</p>
                        <label>
                            <strong>Quantity: </strong>
                            <input type="number">
                        </label>
                        <p class="card-text"><strong>Stock: </strong>96</p>
                        <p><strong>Subtotal: </strong>
                            <label id="subtotal">$30.00</label>
                          </p>
                    </div>
            
                      <button type="submit" class="btn btn-primary btn-lg">Add to Cart</button>
                </form>
                <!-- <ng-template><a class="btn btn-secondary btn-lg disabled">Unavailable</a></ng-template> -->
            </div>
        </div>
    </div>
</div>


